.cardList {
    position: relative;
    background: linear-gradient(
        90deg,
        rgba(18, 0, 36, 1) 14%,
        rgba(117, 52, 195, 1) 100%,
        rgba(98, 0, 255, 1) 100%
    );

    padding: 80px 0 30px;
    min-height: 100vh;
    z-index: 1;
}
.cardList__content {
    position: relative;
    z-index: 3;
}
.cardList__title {
    font-size: 50px;
    line-height: 55px;
    margin: 0 0 30px 0;
    color: #fff;
}
.cardList__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    transition: all 0.5s ease;
}

.cardList__empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--yellow);
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 22px;
}

@media all and (max-width: 768px) {
    .cardList__title {
        font-size: 30px;
        line-height: 35px;
    }
}
